.wrapper {
    padding-top: 59px;
    padding-bottom: 239px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
}
.label {
  margin-bottom: 10px;
}
.wr {
    display: flex;
    flex-direction: column;
    width: 384px;
    margin: 0 auto;
    height: auto;
    padding: 48px 32px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 
    0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
    border-radius: 6px;
}
.wr input {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 8px 12px;
}
.wr input[type='checkbox'] {
    width: auto;
    padding-top: 2px;
    margin: 0;
  }
.title {
    width: 311px;
    height: 28px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #262626;
}
.wr button {
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background: #1890ff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
  }
.checkText {
    padding-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
.lastLabel {
    border-top: 1px solid #E8E8E8;
    padding-top: 8px;
    margin-bottom: 10px;
}
.textParagraph {
    text-align: center;
}
.wr .inputError {
  border-color: red;
  outline: none;
  margin-bottom: 0;
}

.error {
  color: red;
  margin-bottom: 8px;
}